div.card {
  padding: 8px;
}
#App {
  padding: 8px;
}
#Menu {
  grid-gap: 8px;
}
@media all and (min-width: 901px) {
  #Menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "one, two, three", 
    "four, five, six";
  }
}

@media all and (min-width: 601px) and (max-width: 900px) {
  #Menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "one, two, three", 
    "four, five, six";
  }
}

@media all and (max-width: 600px) {
  #Menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "one, two, three", 
    "four, five, six";
  }
}
