@import url('https://fonts.googleapis.com/css?family=Audiowide|Coda');

:root {
  --yellow: #ECC039;
  --red: #D02B40;
  --silver: #949494;
  --black: #060606;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Audiowide', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #757575;
  color: var(--yellow);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Coda', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  color: var(--yellow) !important;
  font-weight: bold;
}
#Menu {
  display: grid;
  grid-gap: 8px;
  min-height: 100vh;
  align-items: center;
}
@media all and (min-width: 1501px) {
  #Menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "one, two, three", 
    "four, five, six";
  }
}

@media all and (min-width: 1001px) and (max-width: 1500px) {
  #Menu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "one, two,",
    "three, four", 
    "five, six";
  }
}

@media all and (max-width: 1000px) {
  #Menu {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "one",
    "two",
    "three",
    "four",
    "five",
    "six";
  }
}
